@font-face {
	font-family: 'Noto Sans';
	src: url('/fonts/noto/NotoSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/fonts/noto/NotoSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/fonts/noto/NotoSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/fonts/noto/NotoSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}